/***********************************************/
/*               About This File               */
/***********************************************/
/*
	This file contains all the style rules
	necessary to generate the options in
	the admin backend.
*/
/***********************************************/
/*               About This File               */
/***********************************************/
/*
	This file contains mixins which are used
	in other less files inside this directory.
*/
#trcLoad {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  background-image: url('../images/trcLoad.gif');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  top: 0px;
  left: 0px;
  z-index: 9999;
  display: none;
}
#trcPostOptions {
  margin-top: 22px;
  background-image: url('../images/bg.png');
  border: 1px solid #c2c2c2;
  -webkit-box-shadow: none;
  -khtml-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
#trcPostOptions .inside {
  padding: 0px;
  margin: 0px;
}
#trcPostOptions h3.hndle {
  -webkit-box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.5);
  -khtml-box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.5);
  -ms-box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.5);
  -o-box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid #c2c2c2;
}
#trcPostOptions.closed h3.hndle {
  padding-left: 10px;
}
#trcPostOptions #trcLogo {
  width: 174px;
  height: 81px;
  margin: 0 auto -52px auto;
  display: block;
  position: relative;
  background-image: url('../images/logo.png');
  top: -43px;
  z-index: 1500;
}
#trcPostOptions #optionsContainer {
  position: relative;
  top: -29px;
  margin-bottom: -29px;
}
#trcPostOptions #optionsContainer #menuBackground {
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  height: 100%;
  width: 160px;
}
#trcPostOptions #trcMenu {
  width: 160px;
  margin: 0px;
  position: relative;
  height: 100%;
  z-index: 2000;
  float: left;
  padding: 22px 0;
  text-align: right;
}
#trcPostOptions #trcMenu li {
  font-family: georgia;
  margin: 0px;
  font-size: 14px;
  color: #666;
  padding: 11px 11px;
  text-shadow: 0px 1px 0px #eee;
  border-bottom: 1px dashed #afa89f;
  cursor: pointer;
}
#trcPostOptions #trcMenu li:first-child {
  border-top: 1px dashed #afa89f;
}
#trcPostOptions #trcMenu li:hover {
  color: #555;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
  background: rgba(0, 0, 0, 0.1);
}
#trcPostOptions #trcMenu li.active {
  color: #444;
  background: #fafafa;
  border-bottom: 1px solid #ccc;
}
#trcPostOptions #trcMenu li.active:first-child {
  border-top: 1px solid #ccc;
}
#trcPostOptions .help {
  float: right;
  font-size: 11px;
  cursor: help;
}
#trcPostOptions .help .title {
  color: #9e3103;
}
#trcPostOptions .help .content {
  display: none;
}
#trcPostOptions .help:hover .content {
  display: block;
  position: absolute;
  width: 60%;
  left: 40%;
  background: #fff;
  padding: 22px;
  border: #eee 1px solid;
}
#trcPostOptions .helpSection ol {
  margin: 0 0 0 16px;
}
#trcPostOptions .helpSection ol li {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  padding: 11px 0;
  margin: 0px;
}
#trcPostOptions .helpSection ol li:first-child {
  border: 0px;
  padding-top: 0px;
}
#trcPostOptions .helpSection ol li:last-child {
  border-bottom: 0px;
}
#trcPostOptions .helpSection a {
  color: #9e3103;
}
#trcPostOptions .inputTable label {
  display: inline-block;
  min-width: 100px;
}
#trcPostOptions .button {
  background: #9e3103;
  background: -moz-linear-gradient(top, #af4214 0%, #8d2000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #af4214), color-stop(100%, #8d2000));
  background: -webkit-linear-gradient(top, #af4214 0%, #8d2000 100%);
  background: -o-linear-gradient(top, #af4214 0%, #8d2000 100%);
  background: -ms-linear-gradient(top, #af4214 0%, #8d2000 100%);
  background: linear-gradient(to bottom, #af4214 0%, #8d2000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@start', endColorstr='@stop', GradientType=0);
  border: 1px solid #7c0f00;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 0px;
}
#trcPostOptions #trcSaveTop {
  position: absolute;
  top: 22px;
  right: 40px;
}
#trcPostOptions #trcOptions {
  display: block;
  margin-left: 160px;
  background: #fafafa;
  padding: 44px;
  position: relative;
  z-index: 1000;
  color: #666;
}
#trcPostOptions #trcOptions .m22 {
  margin-top: 22px;
}
#trcPostOptions #trcOptions .m44 {
  margin-top: 44px;
}
#trcPostOptions #trcOptions h1,
#trcPostOptions #trcOptions h2,
#trcPostOptions #trcOptions h3,
#trcPostOptions #trcOptions h4,
#trcPostOptions #trcOptions h5,
#trcPostOptions #trcOptions h6 {
  font-family: georgia;
  font-weight: 500;
}
#trcPostOptions #trcOptions .half-right {
  float: right;
  width: 48%;
}
#trcPostOptions #trcOptions .half-left {
  float: left;
  width: 48%;
}
#trcPostOptions #trcOptions .checkAll,
#trcPostOptions #trcOptions .checkNone {
  cursor: pointer;
  color: #9e3103;
  display: inline-block;
  margin-right: 11px;
}
#trcPostOptions #trcOptions .checkAll:hover,
#trcPostOptions #trcOptions .checkNone:hover {
  text-decoration: underline;
}
#trcPostOptions #trcOptions section {
  display: none;
}
#trcPostOptions #trcOptions section.active {
  display: block;
}
#trcPostOptions #trcOptions section .option {
  margin: 44px 0 0 0;
}
#trcPostOptions #trcOptions section .option:first-child {
  margin: none;
}
#trcPostOptions label.sectionTitle {
  font-family: georgia;
  display: block;
  color: #444;
  font-size: 16px;
  font-style: italic;
  border-bottom: 1px dashed #eee;
  padding: 0 0 6px 0;
  margin: 0 0 6px 0;
  cursor: default;
}
#trcPostOptions input[type=radio],
#trcPostOptions input[type=checkbox] {
  margin: 0 11px 0 0;
}
